html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#map-container{
    height: 100%;
    width: 100%;
}

#map-canvas{
    height: 10%;
}

#panorama-canvas{
    height: 100%;
}