html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#map-container {
    position: fixed;
    height: 100%;
    /*width: calc(100% - 20vmin);*/
}

#map-canvas {
    position: absolute;
    z-index: 2;
}

#panorama-canvas {
    position: absolute;
    z-index: 1;
}

.bigmap{
    width:100%;
    height:100%;
}
.minimap{
    width:30%;
    height:40%;
} 

#controls {
    position: fixed;
    right: 0;
    height: 100%;
    width: 20vmin;
}

.control-button {
    width: 100%;
    height: 20vmin;
}

.control-button img {
    width: 90%;
    height: 90%;
}

#reportform {
    top: 0;
    left: 0;
    position: absolute;
    display:none;
    z-index: 450;
}

#reportform input {
    width: 99.4%;
    min-height: 50px;
    text-align: center;
}

#upgradeform {
    top: 0;
    left: 0;
    position: absolute;
    display:none;
    z-index: 450;
}

#blood {
    background-color:#b30808;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index:400;
    display:none;
    opacity:.5;
}

#flash-fx {
    background-color:yellow;
    position:absolute;
    z-index:1;
    display:none;
    opacity:.7;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}